<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </head>
  <body>
    <div id="div_login" class="modal">
      <label for="txt_login" >Please, identify yourself:</label>
      <input type="text" value="" id="txt_login" width="60" maxlength="60" />
      <select id="ddl_country">
        <option value="english">English</option>
        <option value="russian">русски</option>
        <option value="spanish">Español</option>
        <option value="portuguese">Português</option>
      </select>
      <input type="button" value="Enter" id="login" onclick="validate()"/>
    </div>
    <h1>iris-python-suite</h1>
    <h3>
      <a href="https://openexchange.intersystems.com/contest/current" target="_blank">If you like, please vote iris-python-suite at openexchange.</a>
    </h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span id="initial_message">Hi! I'm Banzairis Chatbot!</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var loginText = $("#txt_login").val();
          var languageText = $("#ddl_country").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText, login: loginText, language:languageText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $("#textInput").focus()
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })

        $(document).ready(function(){
          $("#div_login").modal({escapeClose: false,clickClose: false,showClose: false});
          $("#txt_login").focus();
        });

        function validate()
        {
            var hi = {
              english:"Hi! I'm Banzairis Bot!",
              russian:"Привет! Я Банзаирис Бот!",
              portuguese:"Oi! Eu sou o Banzairis Bot!",
              spanish:"¡Hola! Soy Banzairis Bot!"
            }
            if($("#txt_login").val()==='')
            {
              alert("Please identify yourself and press enter");
              $("#txt_login").focus();
            }
            else
            {
              $("#initial_message").html(hi[$("#ddl_country").val()]);
              $(".modal").modal("toggle");
              $(".close-modal").click();
              $("#textInput").focus()
            }
        }
      </script>
    </div>
  </body>
</html>